@import 'styles/constants.scss';
@import 'styles/breakpoints.scss';

.news {
  margin: 20px 0px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, auto);
  row-gap: 20px;

  justify-content: space-between;
  width: calc(100% - $mobilePadding * 2);
}

.btn {
  margin-top: 20px;
}

@media screen and (min-width: $tabletAndUp) {
  .news {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards {
    grid-template-columns: auto auto;
    width: calc(#{$tabletAndUp} - #{$tabletPadding * 2});
  }
}

@media screen and (min-width: $desktopAndUp) {
  .cards {
    grid-template-columns: auto auto auto;
    width: calc(#{$desktopAndUp} - #{$desktopPadding * 2});
  }
}
