@import 'styles/constants.scss';
@import 'styles/breakpoints.scss';

.basic {
  width: 100%;
  background-color: white;
  border: solid 1px rgb(204, 204, 204);
  border-radius: 3px;
  font-weight: 600;
  font-size: $fontSize_default;
  padding: 13px 0px;
  transition: 0.5s;

  &:hover {
    background-color: #242424;
    color: white;
  }

  .dark {
    background-color: black;
    color: white;

    &:hover {
      background-color: white;
      color: #242424;
    }
  }
}

@media screen and (min-width: $tabletAndUp) {
  .basic {
    width: 330px;
    min-width: 330px;
  }
}
